@import "fonts";

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.page,
.intro,
.outro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro,
.outro {
    visibility: hidden;
}

.heart {
    background: url("../images/heart.svg") center center no-repeat;
    background-size: auto 100%;
}

.intro__message,
.outro__message {
    position: absolute;
    opacity: 0;
}

.intro__message {
    width: 600px;
    top: calc(50% - 240px);
    left: calc(50% - 300px);
    transform: scale(.5);
    transition: all .5s;

    &.section--in {
        opacity: 1;
        transform: scale(1);
    }

    &.section--out {
        transition: all 1s;
        transform: scale(1) translateY(-150%);
    }
}


.intro__text {
    font: {
        family: arial;
        size: 200px;
        style: normal;
        weight: 300;
    };
    text-align: center;
    color: #fff;
    height: 485px;
    padding-top: 110px;
}

.outro__message {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all .5s;

    &.section--in {
        opacity: 1;
    }

    &.section--out {
        opacity: 0;
    }
}

.outro__title,
.outro__text {
    font: {
        family: "HelveticaNeueLT Com 35 Th";
        style: normal;
        weight: 300;
    };
}

.outro__title {
    font-size: 50px;
    color: #B2007C;
}

.outro__text {
    font-size: 70px;
    color: #471E81;
}

.page {
    padding: 30px;
}

.media {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    height: 50%;
    opacity: 0;
    transition: all .75s;
    transform: translateY(200%);
}

.media__wrapper {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 30px;
    transform: translateY(-50%);
}

.media__content {
    max-height: 75%;
    overflow: hidden;
}

.media__footer {
    margin-top: 15px;
    font-family: "arial";
    display: table;
}

.user__details,
.user__image {
    display: table-cell;
    vertical-align: middle;

}
.user__image {
    width: 1%;
    padding-right: 10px;
}

.user__avatar {
    display: block;
    border-radius: 100px;
    width: 48px;
}

.user__details {
    width: calc(100% - 63px);
}

.user__name {
    color: #471E81; 
    font-weight: bold;
}

.user__activity {
    display: block;
    color: rgba(0,0,0,.5);
    margin-top: 3px;
    font-size: 14px;
}

.media--in {
    opacity: 1;
    transform: translateY(0%);
}

.media--out {
    opactiy: 0;
    transform: translateY(-200%);
}

.media__image {
    width: auto;
    max-width: 100%;
}